.sample-header {
    color: white;
    text-align: center;
    font-size: 150%;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

  body {background-color: black;}